astroid==3.3.8
attrs==24.3.0
dill==0.3.9
iniconfig==2.0.0
isort==5.13.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pygame==2.6.1
pygame-ce==2.5.2
pygame_gui==0.6.13
python-i18n==0.3.9
referencing==0.35.1
rpds-py==0.22.3
setuptools==78.1.1
tomlkit==0.13.2
typing_extensions==4.12.2
wheel==0.44.0
