astroid
attrs
dill
flake8
iniconfig
isort
jsonschema
jsonschema-specifications
mccabe
mypy
mypy-extensions
numpy
packaging
platformdirs
pluggy
pycodestyle
pyflakes
pygame
pygame-ce
pygame_gui
pylint
pytest
pytest-mock
python-i18n
referencing
rpds-py
setuptools
tomlkit
types-jsonschema
typing_extensions
wheel
